.main {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 100%;

    & .main__description {
        color: ghostwhite;
        font-weight: 100;
    }

    & .main__functions {
        height: 100%;

        & .main__functions__list {
            display: flex;
            gap: 12px;

            & > div {
                border: 4px solid white;
                padding: 12px;

                & > h4 {
                    margin: 0;
                }
            }
        }
    }
}